<h3>This is app.component.html page</h3>
<hr class="style-four">
<router-outlet></router-outlet>
<div class="container">
  <div class="row">
    <div class="col-md-12">
<!--      <app-header></app-header>
      <app-recipes></app-recipes>
      <app-shopping-list></app-shopping-list>
-->
      <h2>My Servers</h2>
      <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
      <br><br>
      <ul class="list-group">
        <li class="list-group-item"
          *ngFor="let server of servers; let i = index"
          (click)="onRemoveServer(i)">{{ server }}
        </li>
      </ul>
    </div>
  </div>
</div>
