/* You can add global styles to this file, and also import other style files */
hr.style-four {
  position: relative;
  top: -15px;
  padding: 0;
  border: none;
  border-top: medium double red;
  color: #333;
  text-align: center;
}
hr.top {
  position: relative;
  top: -15px;
  border-top: 3px solid black;
}
h3 {
  color:dodgerblue;
}
